html {
  font-size: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $very-light-gray;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.row {
  @media(min-width: 900px) {
    display: flex;
  }
}