html {
  font-size: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $very-light-gray;
}

h1,
h2,
h3 {
  color: $very-dark-blue;
}

p {
  color: $grayish-blue;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
}

.row {
  @media(min-width: 900px) {
    display: flex;
  }
}