html {
  font-size: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $very-light-gray;
}

h1,
h2,
h3 {
  color: $very-dark-blue;
}

p {
  color: $grayish-blue;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 360px;

  @media(min-width: 1000px) {
    max-width: 1200px;
  }
}

.row {
  align-items: center;
  justify-content: space-between;
  gap: 1.75em;

  @media(min-width: 1000px) {
    display: flex;
  }
}