header {
    margin-top: 6em;

    .header-title {
        text-align: center;
        font-weight: 200;

        @media(min-width:1000px) {
            font-size: 2.25rem;
        }

        .thick {
            font-weight: 600;
        }
    }

    .header-text {
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2em;
    }
}