header {
    margin-top: 6em;

    .header-title {
        text-align: center;
        font-weight: 200;

        .thick {
            font-weight: 600;
        }
    }

    .header-text {
        text-align: center;
        margin-top: 2em;
    }
}